/**** UTILITIES ****/

/* Positioning */

.left { float: left !important; }
.right { float: right !important; }

/* Text */

.tac { text-align: center !important; }
.tal { text-align: left !important; }
.tar { text-align: right !important; }

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Margin & Padding */

.nomar { margin: 0 !important; }
.nopad { padding: 0 !important; }

ul.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.inline-list li { display: inline-block; }

/* Background Colors */

.red-bg { background-color: #b03135 !important; }
.purple-bg { background-color: #5a65bd !important; }
.darkgray-bg { background-color: #373935 !important; }

.red-bg h1,
.red-bg h2,
.red-bg h3,
.red-bg h4,
.red-bg p,
.red-bg a,
.red-bg li,
.purple-bg h1,
.purple-bg h2,
.purple-bg h3,
.purple-bg h4,
.purple-bg p,
.purple-bg a,
.purple-bg li,
.darkgray-bg h1,
.darkgray-bg h2,
.darkgray-bg h3,
.darkgray-bg h4,
.darkgray-bg p,
.darkgray-bg a,
.darkgray-bg li {
  color: #fff;
}

/* Background Images */

.img-block {
  background-color: #212121;
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Show & Hide */

.small-hide { display: none !important; }
.small-show { display: block !important; }

@media only screen and (min-width: 48em) {
  .medium-hide { display: none !important; }
  .medium-show { display: block !important; }
}

@media only screen and (min-width: 64em) {
  .large-hide { display: none !important; }
  .large-show { display: block !important; }
}


/**** GLOBAL ****/

/* Fonts */

@font-face {
  font-family: 'Lulu';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/steelfish_rg.eot');
  src: url('fonts/347B19_2_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/347B19_2_0.woff') format('woff'),
       url('fonts/347B19_2_0.ttf') format('truetype'),
       url('fonts/347B19_2_0.svg#Lulu') format('svg');
}

@font-face {
  font-family: 'Lulu';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/347B19_1_0.eot');
  src: url('fonts/347B19_1_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/347B19_1_0.woff') format('woff'),
       url('fonts/347B19_1_0.ttf') format('truetype'),
       url('fonts/347B19_1_0.svg#Lulu-Thin') format('svg');
}

body {
  background-color: #fff;
  color: #333;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

body.clip { overflow: hidden !important; }

/* Typography */

h1 {
  font-family: 'Lulu', Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Lulu', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.375rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'Lulu', Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

h4 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.7rem;
}

p {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
}

.subheader,
p.subheader,
.subheader p {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
}

@media only screen and (min-width: 40em) {

  h1 { font-size: 2.875rem; }

  h2 { font-size: 1.4375rem; }

  h3 {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  p { font-size: 1rem; }

  .subheader,
  p.subheader,
  .subheader p {
    font-size: 1.3rem;
  }

}

/* Lists */

ul,
ol {}

ul {}

ol {}

li {}

/* Links & Buttons */

a,
a:hover {
  text-decoration: none;
}

a:hover { text-decoration: underline; }

.button,
a.button,
button.button {
  border-radius: 0.375rem;
  display: inline-block;
  font-family: 'Lulu', Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  min-height: 2.3rem;
  line-height: 1.2;
  min-width: 6rem;
  padding: 0.7rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s, color 0.2s;
}

.red-button,
a.red-button,
button.red-button {
  background-color: #ec1e24;
  color: #fff;
}

.red-button:hover,
a.red-button:hover,
button.red-button:hover {
  background-color: #712b2a;
}

.purple-button,
a.purple-button,
button.purple-button {
  background-color: #5a65bd;
  color: #fff;
}

.purple-button:hover,
a.purple-button:hover,
button.purple-button:hover {
  background-color: #444c8e;
}

.gray-button,
a.gray-button,
button.gray-button {
  background-color: #aaa;
  color: #fff;
}

.gray-button:hover,
a.gray-button:hover,
button.gray-button:hover {
  background-color: #777;
}

/* Forms */

fieldset {
  border: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.input-text {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.9rem;
}

.input-wrap {
  background: #ececec;
  border-radius: 6px;
  margin-bottom: 0.9rem;
  position: relative;
  transition: 0.2s;
}

.input-wrap.arrow:after {
  color: #d70016;
  content: '►';
  font-size: 1rem;
  margin-top: 0.05rem;
  pointer-events: none;
  position: absolute;
  right: 0.9rem;
  transform: translateY(-50%) rotate(90deg);
  top: 50%;
}

.input-wrap input,
.input-wrap select,
.input-wrap textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0.375rem;
  display: block;
  outline: none;
  color: #4d4d4d;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  padding: 0.6rem 0.7rem;
  transition: box-shadow 0.2s;
  width: 100%;
}

.input-wrap input:focus,
.input-wrap select:focus,
.input-wrap textarea:focus {
  box-shadow: 0 0 0 1px #999;
}

/* Images */

img { width: 100%; }


/**** NAVIGATION ****/

/* Nav Logo */

h1.nav-logo {
  font-size: 100%;
  margin-bottom: 0;
  margin-left: 1.4rem;
  position: absolute;
  top: 0.75rem;
  transition: margin-left 0.3s, top 0.3s;
  z-index: 1001;
}

h1.nav-logo a {
  display: inline-block;
  text-decoration: none;
}

h1.nav-logo a:hover { text-decoration: none; }

h1.nav-logo img {
  height: 2.8rem;
  width: 11.5rem;
}

@media only screen and (min-width: 40em) {

  h1.nav-logo {
    margin-left: 1.8rem;
    top: 0.58rem;
  }

  h1.nav-logo img {
    height: auto;
    width: 13.1rem;
  }

}


.nav-height { margin-top: 4.375rem; }

@media only screen and (min-width: 40em) {

  .nav-height { margin-top: 4.375rem; }

}

.nav-main {
  height: 4.375rem;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s;
  width: 100%;
  z-index: 1000;
}

.nav-main:after {
  background-color: #373935;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.nav-main nav {
  border-top: 1px solid #555;
  left: -9999px;
  max-height: calc(100vh - 4rem);
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: absolute;
  top: 4.375rem;
  transition: opacity 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 999;
}

.nav-open .nav-main nav {
  left: auto;
  opacity: 1;
  visibility: visible;
}

.nav-main nav ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.nav-main nav ul li { margin-bottom: 0; }

.nav-main nav ul li a {
  color: #fff;
  display: block;
  font-family: 'Lulu', Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-main nav ul li.has-subnav > a:after {
  color: #fff;
  content: '+';
  font-size: 1.5rem;
  position: absolute;
  right: 1.2rem;
  top: 0.8rem;
  transition: transform 0.3s;
}

.nav-main nav ul li.has-subnav.nav-active > a:after { transform: rotate(45deg); }
.nav-main nav > ul ul { display: none; }

.nav-main nav ul.level-1 > li a {
  background-color: #373935;
  border-bottom-color: #555;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.nav-main nav ul.level-1 > li.nav-active a { border-bottom-color: #4f4f4f; }

.nav-main nav ul.level-2 > li a {
  background-color: #2f2f2f;
  border-bottom-color: #4f4f4f;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.02rem;
  line-height: 1.1;
  text-transform: unset;
}

.nav-overlay {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: '';
  height: 100vh;
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 100%;
  z-index: 998;
}

.nav-open .nav-overlay {
  left: 0;
  opacity: 1;
  transition: opacity 0.3s;
  visibility: visible;
}

@media screen and (min-width: 48em) {

  .nav-main nav {
    border-left: 1px solid #555;
    opacity: 0;
    top: 4.375rem;
    transition: opacity 0.3s, right 0.3s;
    right: -20rem;
    width: 20rem;
    z-index: 1001;
  }

  .nav-open .nav-main nav {
    left: auto;
    right: 0;
    opacity: 1;
  }

}

@media screen and (min-width: 64em) {

  .nav-main { height: 4.375rem; }

  .nav-main > div {
    height: 100%;
    width: 100%;
  }

  .nav-main nav {
    border-left: 0;
    float: right;
    height: 100%;
    left: auto;
    margin-right: 1rem;
    opacity: 1;
    overflow: visible;
    position: relative;
    right: auto;
    top: 0;
    visibility: visible;
    width: auto;
  }

  .nav-main nav > ul {
    display: inline-block;
    height: 100%;
  }

  .nav-main nav > ul > li {
    display: inline-table;
    height: 100%;
    float: left;
    position: relative;
  }

  .nav-main nav > ul > li.large-show { display: table !important; }

  .nav-main nav ul.level-1 > li > a {
    background-color: transparent;
    border-bottom: 0;
    display: table-cell;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    transition: background-color 0.3s;
    vertical-align: middle;
  }

  .nav-main nav ul.level-1 > li > a:after { content: none; }
  .nav-main nav ul.level-2 > li > a { background-color: #373935; }
  .nav-main nav ul.level-2 > li:hover > a { background-color: #313131; }
  .nav-main nav ul.level-3 > li > a { background-color: #dfdfdf; }
  .nav-main nav ul.level-3 > li:hover > a { background-color: #cfcfcf; }

  .nav-main nav ul li > ul {
    border-top: 1px solid #555;
    display: inline-block;
    left: -9999px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    visibility: hidden;
    width: 14rem;
  }

  .nav-main nav ul li:hover > ul {
    opacity: 1;
    left: 14rem;
    top: 0;
    visibility: visible;
  }

  .nav-main nav ul.level-1 > li > ul { top: 4.3rem; }
  .nav-small .nav-main nav ul.level-1 > li > ul { top: 4.375rem; }
  .nav-main nav ul.level-1 > li:hover > ul { left: 0; }

  .nav-main nav ul.level-1 > li.left-subnav ul {
    left: auto;
    right: 14rem;
  }

  .nav-main nav ul.level-1 > li.left-subnav > ul {
    left: auto;
    right: 0;
  }

  .nav-overlay { display: none; }

}

@media screen and (min-width: 75em) {
  .nav-main > div {
    height: 100%;
    margin: 0 auto;
    max-width: 87.5rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    width: 100%;
  }
}

/* Nav Menu Icon (Hamburger) */

.nav-icon {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  left: auto;
  opacity: 1;
  outline: 0;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 0.3s, left 0s 0.3s, right 0s 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1001;
}

.nav-icon > div {
  background-color: #fff;
  height: 3px;
  position: relative;
  transition: 0.3s;
  width: 24px;
}

.nav-icon > div:before,
.nav-icon > div:after {
  background-color: #fff;
  content: '';
  display: block;
  height: 3px;
  transition: 0.3s;
  position: absolute;
  width: 24px;
  z-index: -1;
}

.nav-icon > div:before { top: 0.5em; }
.nav-icon > div:after { top: -0.5em; }

/* Nav open 'x' revealed */

.nav-open .nav-icon > div { background-color: transparent; }

.nav-open .nav-icon > div:before,
.nav-open .nav-icon > div:after {
  background-color: #fff;
  transition: 0.3s;
}

.nav-open .nav-icon > div:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-open .nav-icon > div:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-open:not(.steps) .nav-icon > div:before,
.nav-open:not(.steps) .nav-icon > div:after {
  top: 0 !important;
}

@media only screen and (min-width: 64em) {

  .nav-icon { display: none; }

  .nav-open .nav-icon {
    left: auto;
    opacity: 1;
    right: -2.6rem;
    transition: opacity 0.3s, left 0s 0.3s, right 0s 0.3s;
  }

}

/* Pagination */

.pagination {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.pagination ul {
  display: inline-block;
  border-left: 1px solid #979797;
}

.pagination ul li {
  border-right: 1px solid #979797;
  display: inline-table;
  height: 2.6rem;
  float: left;
  width: 2.5rem;
  border-bottom: 1px solid #979797;
  border-top: 1px solid #979797;
}

.pagination ul li a {
  color: #212121;
  display: table-cell;
  font-family: 'Lulu', Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  height: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s;
  vertical-align: middle;
  width: 100%;
}

.pagination ul li a:hover,
.pagination ul li.pag-active a {
  color: #fff;
  text-decoration: none;
}

.pagination ul li a:after {
  background-color: transparent;
  bottom: 0.3rem;
  content: '';
  left: 0.3rem;
  position: absolute;
  right: 0.3rem;
  transition: background-color 0.2s;
  top: 0.3rem;
  z-index: -1;
}

.pagination ul li:hover a:after,
.pagination ul li.pag-active a:after {
  background-color: #212121;
}


/**** MASTHEAD ****/

.masthead {
  background-position: 50% 0;
  background-size: cover;
  height: auto;
  /*min-height: calc(100vh - 3.55rem);*/
  min-height: 20rem;
  overflow: hidden;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: relative;
  width: 100%;
}

.masthead-inner {
  text-align: center;
  z-index: 1;
}

.masthead-inner h1,
.masthead-inner h2,
.masthead-inner p {
  color: #fff;
}

.masthead-inner p {
  -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 40em) {

  .masthead { min-height: 30rem; }

  .masthead-inner {
    bottom: 2rem;
    left: 0;
    position: absolute;
    right: 0;
  }

  .masthead-inner h2 { margin-bottom: 3.5rem; }

}

@media only screen and (min-width: 64em) {

  .masthead-inner { bottom: 4rem; }

}


/**** BLOCK SPACING ****/

.content-block-bottom { padding-bottom: 3rem; }
.content-block-top { padding-top: 3rem; }


/**** GRANT COUNTER ****/

.grant-counter { text-align: center; }

.grant-counter.content-block-bottom { padding-bottom: 2rem; }
.grant-counter.content-block-top { padding-top: 2rem; }

.grant-counter ul {
  display: inline-block;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  max-width: 22rem;
  width: 100%;
}

.grant-counter li {
  float: left;
  min-width: 5rem;
  width: 33.33333%;
}

.grant-counter li > div {
  margin: 0 auto;
  width: 5rem;
}

.grant-label {
  border-bottom: 1px solid #fff;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 0.875rem;
  letter-spacing: 0.04rem;
  line-height: 1.2;
  margin-bottom: 0.35rem;
  padding-bottom: 0.35rem;
}

.grant-number {
  font-family: 'Lulu', Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
}

@media only screen and (max-width: 19.9375rem) {

  .grant-counter li { float: none; }

}

@media only screen and (min-width: 40em) {

  .grant-counter ul {
    margin-top: 1.5rem;
    max-width: 40rem;
  }

  .grant-counter li > div { width: 7.3rem; }

  .grant-label {
    font-size: 1.25rem;
    letter-spacing: 0.03rem;
    margin-bottom: 0.6rem;
    padding-bottom: 0.6rem;
  }

  .grant-number { font-size: 2.625rem; }

}


/**** GRANT FILTER & SEARCH ****/

/* Grant Search */

.grant-search h2 { text-align: center; }

/* Grant Filter */

.grant-filter {
  display: inline-block;
  margin-bottom: 2.8rem;
  margin-top: 2rem;
  width: 100%;
}

.grant-filter fieldset { text-align: left; }

.grant-filter button[type='submit'] {
  margin-top: 1.7rem;
  width: 100%;
}

@media only screen and (min-width: 40em) {

  .grant-filter button[type='submit'] { margin-top: 0.9rem; }

}

@media only screen and (min-width: 64em) {

  .grant-filter button[type='submit'] { margin-top: 1.9rem; }

}

/* Grand Results */

.grant-results h3 { text-align: center; }

.grant-results-content { margin-top: 2rem; }

.grant-results-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grant-results-content figure {
  background-color: #f1f1f1;
  margin-bottom: 1.3rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 1rem;
}

.grant-results-content figure img {
  border: 1px solid #979797;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 40em) {

  .grant-results h3 {
    height: 2.5625rem;
    margin-bottom: 0;
    position: relative;
    text-align: left;
  }

  .grant-results h3 span {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .grant-results-content { margin-top: 3rem; }

  .grant-results-content figure { margin-bottom: 2rem; }

}


/* Foundations Feature Block */

.foundations-feature-block { text-align: center; }

.foundations-feature-block h4 {
  -webkit-font-smoothing: antialiased;
  margin-bottom: 1.3rem;
}

.foundations-feature-block ul li {
  display: block;
  margin-right: 1rem;
}

.foundations-feature-block a {
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.6;
  text-decoration: none;
  transition: border-bottom 0.2s;
}

.foundations-feature-block a:hover {
  border-bottom-color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 40em) {

  .foundations-feature-block ul li { display: inline-block; }

  .foundations-feature-block a {
    font-size: 1.25rem;
    line-height: 1.4;
  }

}


