/**** UTILITIES ****/

/* Positioning */

.left { float: left !important; }
.right { float: right !important; }

/* Text */

.tac { text-align: center !important; }
.tal { text-align: left !important; }
.tar { text-align: right !important; }

ul.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.inline-list li { display: inline-block; }


/**** GLOBAL ****/


/* Headings & Paragraphs */


/* Lists */


/* Links & Buttons */


/* Forms */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


/**** CONTENT BLOCKS ****/

/* Block Spacing */

.content-block {
  padding-bottom: 4rem;
  padding-top: 4rem;
}